<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assem1">
  <link
    name="Clamp">
    <inertial>
      <origin
        xyz="-0.023326 -0.018973 0.12096"
        rpy="0 0 0" />
      <mass
        value="0.46049" />
      <inertia
        ixx="0.00088251"
        ixy="-2.5912E-05"
        ixz="2.1697E-08"
        iyy="0.00049117"
        iyz="3.8044E-08"
        izz="0.00090604" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Clamp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Clamp.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="BaseBottom">
    <inertial>
      <origin
        xyz="0.027516 0.014617 -5.3932E-08"
        rpy="0 0 0" />
      <mass
        value="0.10485" />
      <inertia
        ixx="7.271E-05"
        ixy="-1.7562E-05"
        ixz="3.3609E-12"
        iyy="0.00011017"
        iyz="-4.0092E-11"
        izz="7.6148E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/BaseBottom.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/BaseBottom.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BaseCoincident"
    type="fixed">
    <origin
      xyz="-0.042533 -0.12096 0.069938"
      rpy="1.5708 0 0" />
    <parent
      link="Clamp" />
    <child
      link="BaseBottom" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Basetop">
    <inertial>
      <origin
        xyz="0.017744 0.050216 5.5971E-08"
        rpy="0 0 0" />
      <mass
        value="0.061686" />
      <inertia
        ixx="3.3277E-05"
        ixy="3.1323E-06"
        ixz="6.4171E-11"
        iyy="6.5761E-05"
        iyz="5.3966E-12"
        izz="3.5972E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Basetop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Basetop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Basetop_coincident"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="BaseBottom" />
    <child
      link="Basetop" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-0.073232 -0.1745 0.015767"
        rpy="0 0 0" />
      <mass
        value="0.13439" />
      <inertia
        ixx="7.1758E-05"
        ixy="0.00011693"
        ixz="3.8198E-07"
        iyy="0.00034167"
        iyz="8.0268E-07"
        izz="0.00038897" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Base_Revolute"
    type="revolute">
    <origin
      xyz="-0.011931 0.2308 -0.014931"
      rpy="0 0.12246 0" />
    <parent
      link="Basetop" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.14211 -0.03561 0.00027708"
        rpy="0 0 0" />
      <mass
        value="0.14126" />
      <inertia
        ixx="0.00022787"
        ixy="8.7681E-05"
        ixz="1.3203E-07"
        iyy="0.00010115"
        iyz="8.5903E-07"
        izz="0.00030502" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74902 0.74902 0.74902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Revolute_2"
    type="revolute">
    <origin
      xyz="-0.033505 -0.033505 0.015"
      rpy="0.34542 0.32648 0.057449" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0.70711 0.70711 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-0.15007 -0.043098 1.8252E-06"
        rpy="0 0 0" />
      <mass
        value="0.14347" />
      <inertia
        ixx="0.00022731"
        ixy="9.6672E-05"
        ixz="3.6072E-09"
        iyy="0.00015405"
        iyz="-3.4694E-09"
        izz="0.0003606" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74902 0.74902 0.74902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Revolute3"
    type="revolute">
    <origin
      xyz="0 0.033257 0"
      rpy="-0.13898 -0.13765 -0.7758" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0.70711 0.70711 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>